<html>
    <head>
        <title>社内システム</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='https://fonts.googleapis.com/css2?family=Noto+Serif+JP' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css"/>
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    </head>
    <body>
        <button type="button" onclick="history.back()">＜</button>
        <div class="page-header">
            <h1><a href="">pyscript イベントを取得</a></h1>
        </div>
        
        <button py-click="get_now()" class="py-button">現在時刻を取得</button>
        <button py-click="janken(hand=0)" class="py-button">グー</button>
        <button py-click="janken(hand=1)" class="py-button">チョキ</button>
        <button py-click="janken(hand=2)" class="py-button">パー</button>
        <div id="now"></div>
        <div id="result"></div>
        
        <py-script>
        import random
        from datetime import datetime
        from pyscript import display
        
        HANDS = ("グー", "チョキ", "パー")
        def janken(hand):
            my_hand = random.randrange(3)
            result = ("あいこ", "わたしの勝ち", "あなたの勝ち")[(hand - my_hand) % 3]
            display(f"あなた：{HANDS[hand]}、わたし：{HANDS[my_hand]}、{result}", target="result")
        
        def get_now():
            now = datetime.now()
            display(f"{now:%Y年%m月%d日 %H:%M:%S}", target="now")
        </py-script>
    </body>
</html>