{% extends 'blog/base.html' %}

{% block content %}
    <div class="add">
        <a href="https://honsan.pythonanywhere.com/admin/blog/post/add/" class="btn btn-gradient"><span>新規追加</span></a>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
        </div>
    {% endfor %}
{% endblock %}