{% extends 'main/base.html' %}

{% block content %}
<div class="page-header">
    <h1><a href="">javascript テストページ</a></h1>
</div>
<div class="content container">
    <div class="row">
        <h2>JavaScript 基礎編</h2>
        <a class="btn-flat-border" href="{% url 'tutorial' %}">チュートリアル</a>
        <br>
        <a class="btn-flat-border" href="{% url 'number_guess' %}">作成：「数あてゲーム」</a>
        <br>
        <a class="btn-flat-border" href="{% url 'variable' %}">変数について</a>
        <a class="btn-flat-border" href="{% url 'number' %}">数値と演算子について</a>
        <a class="btn-flat-border" href="{% url 'string' %}">文字列について</a>
    </div>
</div>
{% endblock content %}